{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
$IMG_CHECK = "{{url_for('static', filename='check.png')}}";
$IMG_BACK = "{{url_for('static', filename='back.png')}}";
$IMG_EDIT = "{{url_for('static', filename='edit.png')}}";
$IMG_DELETE = "{{url_for('static', filename='x.png')}}";

window.page = 1;

function sendBack(id) {
	{% if use_loading_gif %}
	$('#loading').fadeIn('slow');
	{% endif %}

	$.getJSON("{{url_for('send_back')}}", {id: id}, function(result) {
		if (result.error) {
			alert(result.error);
		}
		else {
			$('#history_' + id).remove();

			{% if use_loading_gif %}
			$('#loading').fadeOut('slow');
			{% endif %}
		}
	});
}

function submitEditHistory() {
	var payload = $('#edit_history_form').serialize().replace(/edit_history_/g, "") + "&table=history";
	$.getJSON("{{url_for('add_expense')}}", payload, function(result) {
		if (result.error) {
			alert(result.error);
		}
		else {
			cancelEditHistory();

			{% if use_loading_gif %}
			$('#loading').fadeIn('slow');
			{% endif %}

			// TODO: Should probably add a function to load a single ID from a table.
			$('#history > tbody > tr').remove();
			loadHistory();
		}
	});
}

function editHistory(id) {
	// Cancel all other edits in progress. (We're not keeping track of them.)
	cancelEditHistory();

	// Hide row and replace with form fields.
	$('#history_' + id).after(
		'<tr id="edit_history">' +
		'<td class="icon"></td>' +
		'<td class="name">{{edit_history_form.id(form="edit_history_form")}}{{edit_history_form.name(form="edit_history_form")}}</td>' +
		'<td class="value">{{edit_history_form.value(form="edit_history_form")}}</td>' +
		'<td class="date' + (small_screen ? ' hidden' : '') + '">{{edit_history_form.created(form="edit_history_form")}}</td>' +
		'<td class="date' + (small_screen ? ' hidden' : '') + '">{{edit_history_form.settled(form="edit_history_form")}}</td>' +
		'<td class="note">{{edit_history_form.note(form="edit_history_form")}}</td>' +
		'<td class="icon"><a id="submit_history_edit" href="#" onclick="submitEditHistory(); return false;"><img class="icon" src="' + $IMG_CHECK + '" title="Submit" /></a></td>' +
		'<td class="icon"><a id="reset_history_edit" href="#" onclick="cancelEditHistory(); return false;"><img class="icon" src="' + $IMG_DELETE + '" title="Cancel" /></a></td>' +
		'</tr>'
	);
	$('#history_' + id).after('<tr id="blank_history_row"></tr>')
	$('#history_' + id).hide();
	$('#blank_history_row').hide();

	// Set form field values to values from hidden row.
	$('#edit_history_id').val(id);
	$('#edit_history_name').val($('#history_' + id + ' > td.name').text());
	var value = $('#history_' + id + ' > td.value')[0].title;
	$('#edit_history_value').val(value);
	$('#edit_history_value').select();
	$('#edit_history_created').val($('#history_' + id + ' > td.date:eq(0)').text());
	$('#edit_history_settled').val($('#history_' + id + ' > td.date:eq(1)').text());
	$('#edit_history_note').val($('#history_' + id + ' > td.note').text());

	// Enable JQuery UI's date picker.
	$("#edit_history_created").datepicker({dateFormat: "yy-mm-dd"});
	$("#edit_history_settled").datepicker({dateFormat: "yy-mm-dd"});

	// Override form submission (and prevent binding multiple copies of the event listener).
	$("#edit_history_form:not(.bound)").addClass("bound").submit(function(e) {
		submitEditHistory();
		return false;
	});

	// Submit on enter, cancel edit on escape (and prevent binding multiple copies of the event listener).
	$("#edit_history input:not(.bound)").addClass("bound").keydown(function(e) {
		if (e.keyCode == 13) {
			$('#edit_history_form').submit();
		}
		else if (e.keyCode == 27) {
			cancelEditHistory();
		}
	});
}

function cancelEditHistory() {
	$('#edit_history').remove();
	$('#blank_history_row').remove();
	$('#history > tbody > tr').show();
}

function removeHistory(id, name) {
	{% if confirm_deletion %}
	if (!window.confirm('Delete ' + name + '?')) { return false; }
	{% endif %}

	{% if use_loading_gif %}
	$('#loading').fadeIn('slow');
	{% endif %}

	$.getJSON("{{url_for('delete')}}", {table: 'history', id: id}, function(result) {
		if (result.error) {
			alert(result.error);
		}
		else {
			$('#history_' + id).remove();
		}

		{% if use_loading_gif %}
		$('#loading').fadeOut('slow');
		{% endif %}
	});
}

function loadHistory() {
	$.getJSON("{{url_for('load_table')}}", {table: 'history', page: window.page}, function(result) {
		if (result.error) {
			alert(result.error);
			location.reload();
		}
		else {
			// Remove existing content.
			$('#history > tbody > tr').remove();

			// Load data into current table.
			for (var i = 0; i < result.data.history.length; i++) {
				// Add a row to the table.
				var e = result.data.history[i];
				$('#history > tbody').append(
					'<tr id="history_' + e[0] + '">' +
					'<td class="icon"><a href="#" onclick="sendBack(' + e[0] + '); return false;"><img class="icon" src="' + $IMG_BACK + '" title="Send to Current" /></a></td>' +
					'<td class="name">' + e[1] + '</td>' +
					'<td class="value' + (e[2].charAt(0) == '(' ? ' negative' : '') + '" title="' + e[3] + '">' + e[2] + '</td>' +
					'<td class="date' + (small_screen ? ' hidden' : '') + '">' + e[4] + '</td>' +
					'<td class="date' + (small_screen ? ' hidden' : '') + '">' + e[5] + '</td>' +
					'<td class="note">' + e[6] + '</td>' +
					'<td class="icon"><a href="#" onclick="editHistory(' + e[0] + '); return false;"><img class="icon" src="' + $IMG_EDIT + '" title="Edit" /></a></td>' +
					'<td class="icon"><a href="#" onclick="removeHistory(' + e[0] + ', \'' + e[1].replace('\'', '\\\'') + '\'); return false;"><img class="icon" src="' + $IMG_DELETE + '" title="Delete" /></a></td>' +
					'</tr>'
				);
			}
		}
		{% if use_loading_gif %}
		$('#loading').fadeOut('slow');
		{% endif %}
	});
}

function previous() {
	if (window.page > 1) {
		window.page--;
		loadHistory();
		$('#current-page').text('Page ' + window.page);
	}
	return false;
}

function next() {
	window.page++;
	loadHistory();
	$('#current-page').text('Page ' + window.page);
	return false;
}

$(document).ready(function() {
	{% if use_loading_gif %}
	// Replace table content with loading GIF.
	$('#loading').fadeIn('slow');
	{% endif %}

	$('#previous-page > a').on('click', previous);
	$('#next-page > a').on('click', next);
	$('#current-page').text('Page ' + window.page);

	loadHistory();
});
</script>

<div class="heading">History</div>

<form id="edit_history_form" action="#"></form>

<table id="history">
	<thead>
		<tr>
			<th class="icon"></th>
			<th class="name">Item</th>
			<th class="value">Value</th>
			<th class="date">Created</th>
			<th class="date">Settled</th>
			<th class="notes">Notes</th>
			<th class="icon"></th>
			<th class="icon"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<div id="footer">
	<div id="previous-page"><a class="button" href="#">Previous</a></div>
	<div id="next-page"><a class="button" href="#">Next</a></div>
	<div id="current-page"></div>
</div>

{% endblock %}
