{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    $(document).ready(() => {
        // Submit on enter (required since there's no "submit" input element)
        $('#login-form input').keydown((e) => {
            if (e.keyCode == 13) {
                $('#login-form').submit();
            }
        });
    });
</script>

<div class="login">
    <form id="login-form" action="" method="POST" name="login">
        {{ form.hidden_tag() }}

        <div class="username">{{ form.username.label }}{{ form.username(autofocus=True) }}</div>
        <div class="password">{{ form.password.label }}{{ form.password }}</div>
        <div class="submit">
            {{ form.remember }}{{ form.remember.label }}
            <a href="#" class="button" onclick="$('#login-form').submit()">Log In</a>
        </div>
    </form>
</div>

{% endblock %}
