body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #cccccc;
	background-color: #222222;
	overflow-y: auto;
	margin: 0px;
}

p {
	margin: 5px;
	text-align: center;
}

table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 0px;
	border-spacing: 0px;
}

th { font-weight: bold; }
td { font-size: 75%; padding: 3px; }
tfoot { font-size: auto; font-weight: bold; font-weight: bold; }

#content {
	width: 100%;
	max-width: 700px;
	margin: auto;
	padding-top: 10px;
}

#title-buffer {
	width: 100%;
	height: 52px;
	top: 0px;
	position: static;
	z-index: 500;
}

#title-bar {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #111111;
	border-bottom: solid #444444;
    display: flex;
}

#title {
	margin: auto;
	font-size: 22px;
	font-weight: bold;
    height: 30px;
    line-height: 30px;
	text-align: center;
    justify-content: center;
}

#links {
    padding: 10px 20px;
	text-align: left;
    white-space: nowrap;
}

#user {
    padding: 10px 20px;
    text-align: right;
    white-space: nowrap;
}

.small-screen #current-user {
    display: none;
}

.small-screen .date {
    display: none;
}

.flex-container {
    display: flex;
}

.flex-box {
    flex: 1;
    display: flex;
}

.flex-box:first-child > span { margin-right: auto; }

.flex-box:last-child > span { margin-left: auto; }

#footer {
	width: 100%;
}

#previous-page {
	width: calc(30% - 20px);
	float: left;
	text-align: left;
	padding: 10px;
}

#next-page {
	width: calc(30% - 20px);
	float: right;
	text-align: right;
	padding: 10px;
}

#current-page {
	text-align: center;
	padding: 10px;
}

.small-screen {
	width: auto;
	margin: auto;
	float: none;
	padding: 2px;
}

.heading {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.messages { text-align: center; color: #aa3333; }
.messages p { margin-top: 20px; }

.wide { width: 60%; top: 0px; }
.narrow { width: 40%; top: 0px; }
.right { float: right; text-align: right; }
.section { padding-top: 5px; padding-bottom: 10px; }

.login {
    max-width: 320px;
    margin: auto;
}

.login form div, .signup form div {
    height: 30px;
}

.login label {
    width: 40%;
    display: inline-block;
    font-size: 16px;
}

.login input[type="text"], .login input[type="password"] {
    width: 60%;
    font-size: 16px;
}

.login input[type="checkbox"] {
    margin: 7px 10px 0 0;
}

.login input[type="submit"] {
    float: right;
}

.login p:first-of-type, .signup p:first-of-type {
    margin-top: 40px;
}

.negative { color: #cc4444; }

.ui-datepicker { background-color: #111111; }
.ui-state-highlight { background-color: #dddddd !important; border-color: #000000 !important; color: #000000 !important; }
.ui-state-active { background-color: #888888 !important; border-color: #000000 !important; color: #ffffff !important; }
table.ui-datepicker-calendar th { color: #000000; }

table:not(.ui-datepicker-calendar) tr:nth-child(even) {
    background-color: #303030;
    border-color: #303030;
}

td.icon { width: 24px; }
td.name {}
td.value { text-align: right; width: 60px; }
td.date { text-align: center; width: 80px; }
td.note {}
td.recur { text-align: center; width: 80px; }

div.loading {
	height: 24px;
	width: 24px;
	z-index: 999;
    display: inline-block;
    padding-left: 20px;
}

img.loading { vertical-align: middle; width: 24px; height: 24px; }
img.icon { width: 24px; height: 24px; }

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #ffffff;
}

a:hover {
    color: #cccccc;
}

a.button {
    border: 1px solid #ffffff;
    padding: 3px 5px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#previous-page a.button, #next-page a.button {
    margin: 0;
}

a.button:hover {
    border: 1px solid #cccccc;
}

button, input[type="submit"], input[type="reset"] {
    border-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 5px;
    border-radius: 0;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #cccccc;
    border-color: #cccccc;
}

input {
    color: #ffffff;
    background-color:
    transparent; border:
    solid 1px #cccccc;
    border-radius: 0;
}

input:not(#password):not(#username):not([type="submit"]) { font-family: unset; }

select {
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #cccccc;
    font-size: 14px;
    font-family: unset;
    padding: 1px 5px;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select option { background-color: #222222; }

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    font-size: 14px;
}

input[name="value"], input[name="recur_freq"] {
    text-align: right;
}

input[name="created"], input[name="due_date"] {
    width: 80px;
    text-align: center;
}

input[name="recur_freq"] {
    width: 30px;
}

input[name="recur_type"] {
    width: 60px;
}

