#content {
    max-width: 800px;
}

.section { padding-top: 5px; padding-bottom: 10px; }

.negative { color: #cc4444; }

td.icon {
    width: 24px;
}

td.value {
    text-align: right;
    width: 80px;
}

td.date {
    width: 90px;
    text-align: center;
}

td.recur {
    text-align: center;
    min-width: 95px;
}


div.loading {
    height: 24px;
    width: 24px;
    z-index: 999;
    display: inline-block;
    padding-left: 20px;
}

img.loading { vertical-align: middle; width: 24px; height: 24px; }
img.icon { width: 24px; height: 24px; }

input[name="value"], input[name="recur_freq"] {
    text-align: right;
}

input[name="created"], input[name="due_date"] {
    text-align: center;
}

input[name="recur_freq"] {
    width: 30px;
    margin-right: 5px;
}

input[name="recur_type"] {
    width: 60px;
}


.small-screen td, .small-screen th {
    font-size: 10px;
}

.small-screen .date, .small-screen .recur {
    display: none;
}

.small-screen td.value {
    width: 50px;
}

